### Import modules

In [46]:
import pickle
import pandas as pd
import numpy as np
import pymysql.cursors
import sys

### Connect to database and preview the dataframe

In [47]:
URI = "database-test1.ckvmcnbipeqn.eu-west-1.rds.amazonaws.com"
PORT = 3306
DB = "dbbikes"
USER = "picto"
PASSWORD = "Comp30830"
try:
    conn = pymysql.connect(host=URI, user=USER, password=PASSWORD, port=PORT, database=DB)

    cursor = conn.cursor()
    sql = "SELECT * FROM db_bikes.station_new_availability"
    cursor.execute(sql)
    results = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]
    df_bikes_availability = pd.DataFrame(results, columns= columns)
    print("Database connected successfully")
except Exception as e:
    sys.exit(e)

df_bikes_availability.tail()

Database connected successfully

         number  available_bikes  available_bike_stands         last_update
1015735      39               19                      1 2023-04-13 16:29:05
1015736      83                1                     39 2023-04-13 16:23:49
1015737      92               27                     13 2023-04-13 16:28:30
1015738      21               14                     15 2023-04-13 16:28:11
1015739      88                6                     23 2023-04-13 16:24:39

### Add columns

In [48]:

df_bikes_availability['weekday'] = df_bikes_availability.last_update.dt.day_name()
df_bikes_availability.loc[df_bikes_availability.last_update >= pd.Timestamp('2023-03-26 01:00:00'), 'hour'] = df_bikes_availability.last_update.dt.hour + 1
df_bikes_availability.loc[df_bikes_availability.last_update < pd.Timestamp('2023-03-26 01:00:00'), 'hour'] = df_bikes_availability.last_update.dt.hour
df_bikes_availability['total_stands'] = df_bikes_availability['available_bikes'] + df_bikes_availability['available_bike_stands']

In [49]:
df_bikes_availability.tail()

,number,available_bikes,available_bike_stands,last_update,weekday,hour,total_stands
1015735,39,19,1,2023-04-13 16:29:05,Thursday,17.0,20
1015736,83,1,39,2023-04-13 16:23:49,Thursday,17.0,40
1015737,92,27,13,2023-04-13 16:28:30,Thursday,17.0,40
1015738,21,14,15,2023-04-13 16:28:11,Thursday,17.0,29
1015739,88,6,23,2023-04-13 16:24:39,Thursday,17.0,29

### Check null data

In [50]:
df_bikes_availability[df_bikes_availability.isnull().values==True]

Empty DataFrame
Columns: [number, available_bikes, available_bike_stands, last_update, weekday, hour, total_stands]
Index: []

### Check duplicate data

In [51]:
# df_bikes_availability.duplicated().sum()
# include_duplicate = df_bikes_availability[df_bikes_availability.duplicated(keep=False)].shape[0]
# print("There are {} duplicate rows including the first row.".format(include_duplicate))
# include_duplicate = df_bikes_availability[df_bikes_availability.duplicated(keep=False)]
# print(include_duplicate)

Empty DataFrame
Columns: [number, available_bikes, available_bike_stands, last_update, weekday, hour, total_stands]
Index: []